$colorPrincipal: #0A3871;
$colorSecundario: #051D3B;

@mixin flex($flex-direction, $justify-content, $align-items, $gap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    gap: $gap;
}