//Importo las variables y los mixins
@import 'vars-mixins';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

body {
    &::-webkit-scrollbar {
        width: 12px;
        background: $colorSecundario;
    }
    &::-webkit-scrollbar-thumb {
        background: $colorPrincipal;
        border-radius: 13px;
    }
    @include flex(column, space-between, center, 0rem);
    min-height: 100%;
    background-color: #EFF1FA;
    font-family: 'Montserrat', sans-serif;
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#444cf7 0.75px, transparent 0.75px),
        radial-gradient(#444cf7 0.75px, #e5e5f7 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    header {
        margin-top: 2rem;
        h1 {
            font-size: 55px;
            font-family: 'Exo 2', sans-serif;
            background: linear-gradient(90deg, rgba(5,29,59,1) 0%, rgba(15,81,163,1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            text-align: center;
        }
    }
    main {
        margin-top: 1rem;
        @include flex(column, center, center, 0);
        #seccionPrincipal {
            @include flex(column, center, center, 1rem);
        }
        #seccionJuego {
            padding: 1rem;
            @include flex(column, center, center, 2rem);
            .juego-contenido {
                @include flex(column, center, center, .8rem);
                canvas {
                    width: 25rem;
                }
                > div {
                    @include flex(column, center, center, 1.5rem);
                    #letrasUsadas {
                        letter-spacing: 2px;
                        font-weight: 600;
                        font-size: 25px;
                        text-transform: capitalize;
                        user-select: none;
                    }
                    #letrasCorrectas {
                        @include flex(row, center, center, 2rem);
                        font-weight: 600;
                        font-size: 25px;
                        text-transform: capitalize;
                        user-select: none;
                        .guion {
                            width: 45px;
                            border-bottom: 4px solid #0A3871;
                            text-align: center;
                        }
                    }
                }
            }
            .juego-botones {
                @include flex(row, center, center, 1.5rem);
                padding-top: 2rem;
                .boton-nuevo-juego {
                    font-size: 24px;
                    min-width: 130px;
                    height: 40px;
                    color: #fff;
                    padding: 5px 10px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    position: relative;
                    display: inline-block;
                    outline: none;
                    border-radius: 5px;
                    border: none;
                    background: $colorPrincipal;
                    box-shadow: 0 5px $colorSecundario;
                    &:hover {
                        box-shadow: 0 3px $colorSecundario;
                        top: 1px;
                    }
                    &:active {
                        box-shadow: 0 0 $colorSecundario;
                        top: 5px;
                    }
                }
                .boton-desistir {
                    @extend .boton-nuevo-juego;
                    background-color: transparent;
                    border: solid 2px $colorSecundario;
                    color: $colorSecundario;
                    box-shadow: gray;
                }
            }
            #palabraCorrecta {
                width: 45%;
                height: 45%;
                position: absolute;
                top: 10px;
                z-index: 1;
                letter-spacing: 1.5px;
                font-size: 26px;
                transition: all 1s ease;
                @include flex(row, center, center, 0);
                p {
                    text-align: center;
                }
            }
            .info {
                @include flex(column, center, center, .5rem);
                text-align: center;
                font-weight: 500;
                font-family: 'Exo 2', sans-serif;
            }
        }
        #seccionNuevaPalabra {
            @include flex(row, center, center, 4rem);
            padding: 20px;
            #seccionIngresoPalabra {
                @include flex(column, center, center, 3rem);
                #nuevaPalabra {
                    font-size: 26px;
                    border: none;
                    border-radius: 5px;
                    padding: 10px;
                    text-align: center;
                    outline: none;
                    background-color: #EFF1FA;
                    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    &:focus {
                        border-color: $colorPrincipal;
                        box-shadow: 0 0 0 0.25rem $colorPrincipal;
                    }
                }
                .info-botones {
                    @include flex(column, center, center, .5rem);
                    :first-child {
                        @include flex(row, center, center, .3rem);
                        p {
                            text-align: center;
                            font-weight: 500;
                            font-family: 'Exo 2', sans-serif;
                        }
                    }
                    :last-child {
                        @include flex(row, center, center, 2rem);
                        .boton-guardar {
                            @extend .boton-principal;
                            width: 240px;
                        }
                        .boton-cancelar {
                            @extend .boton-secundario;
                            width: fit-content !important;
                        }
                    }
                }
                >p {
                    font-size: 21px;
                    background-color: #EFF1FA;
                    border-radius: 15px;
                    padding: 10px;
                    text-align: center;
                }
            }
            #seccionListaPalabras {
                @include flex(column, center, center, 2rem);
                width: 35%;
                background-color: #EFF1FA;
                border-radius: 15px;
                padding: 20px;
                h2 {
                    text-align: center;
                }
                #contenedorPalabras {
                    @include flex(row, center, center, 10px);
                    flex-wrap: wrap;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 25px;
                    p {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
    footer {
        @include flex(column, center, center, .5rem);
        padding: .7rem;
        width: 100%;
        text-align: center;
        background-color: rgba(128, 128, 128, 0.425);
        .footer-div-2 {
            i {
                font-size: 1.5rem;
                color: rgb(0, 0, 0);
                transition: all .3s ease;
                &:hover{
                    transform: translateY(-3px);
                    filter: drop-shadow(5px 5px #65649574);
                    color: rgb(255, 255, 255);
                }
            }
            ul {
                @include flex(row, center, center, 1rem);
                list-style: none;
                margin-bottom: 0;
            }
        }
    }
}

//Clases de uso general que no necesitan ir indentadas.

.boton-principal {
    font-size: 22px;
    min-width: 180px;
    color: #fff;
    padding: 15px 20px 15px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    // background-color: #3d348b;
    background-color: $colorPrincipal;
    &:after {
        content: "\00BB";
        position: absolute;
        opacity: 0;
        font-size: 24px;
        line-height: 40px;
        top: 7px;
        right: -20px;
        transition: 0.4s;
    }
    &:hover {
        border-radius: 5px;
        padding-right: 24px;
        padding-left: 8px;
    }
    &:hover:after {
        opacity: 1;
        right: 10px;
    }
}

.boton-secundario {
    @extend .boton-principal;
    width: 220px;
    background-color: transparent;
    border: solid 1px $colorSecundario;
    color: $colorSecundario;
    &:after {
        top: 7.7px;
    }
}


.palabra-correcta-estilo {
    background-color: #EFF1FA;
    padding: 20px;
    border-radius: 15px;
}

.fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
}

.hidden {
    visibility: hidden;
}

@keyframes fade-in {
    from {
        display: none;
    }
    to {
        display: block;
    }
}

//Importo las media queries
@import 'media';
